_Process/
_OLD/
_Videos/
*.mkv
*.mp4
*.m4a
*.mov
.DS_Store

Assignments/_InProgress/

Code/_Upcoming/

Images/_InProgress/
Images/_ToDealWith/
Images/Misc/

Readings/_ToDealWith/
Readings/Misc/
Readings/_WIP/

Images/Week00_BootingUp/Compendium_CaseyReas_2010.pdf
Resources/WordLists/AshleyBovan/


