_Process/
*.mkv
*.mp4
*.m4a
*.mov
.DS_Store

Assignments/_InProgress/

Images/_InProgress/
Images/_ToDealWith/

Images/Week00_BootingUp/Compendium_CaseyReas_2010.pdf
Resources/WordLists/AshleyBovan/


